@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --white:hsl(0, 0%, 100%);
    --black:hsl(0, 0%, 0%);
    --grey-200:hsl(0, 0%, 85%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alata',sans-serif;
    font-size: 15px;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero{
    background-color: var(--black);
    color: var(--white);
    min-height: 650px;
    position: relative;
    background: url("images/desktop/image-hero.jpg");
    background-size: cover;
    background-position: center;
}