@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --white:hsl(0, 0%, 100%);
    --black:hsl(0, 0%, 0%);
    --grey-200:hsl(0, 0%, 85%);

    --fuente-cuerpo: 'Alata',sans-serif;
    --fuente-titulo: 'Josefin Sans', sans-serif;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-cuerpo);
    font-size: 15px;
    background-color: var(--white);
    color: var(--black);

}

h1,h2,h3{
    font-family: var(--fuente-titulo);
    text-transform: uppercase;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: var(--white);
}




.contenedor {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    
}

.hero{
    background-image: url("images/desktop/image-hero.jpg");
    background-size: cover;
    background-position: center;
    min-height: 650px;
    color: var(--white);
    position: relative;
  
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    position: relative;
}

.logo img {
    height: 32px;
}

.navegacion {
    display: flex;
    gap: 30px;
}

.link-navegacion{
    font-family: var(--fuente-cuerpo);
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    position: relative;
}

.menu-icono{
    display: none;

}

#menu-toggle{
    display: none;
}

.contenido-hero{
    padding: 40px;
    max-width: 650px;
    margin-top: 100px;
    position: relative;
}

.contenido-hero h1{
    font-family: 64px;
    font-weight: 300;
}

.seccion-lider{
    position: relative;
    padding: 100px 0;
    display: block;
}

.imagen-lider{
    width: 60%;
    margin-bottom: 0;
}

.imagen-movil{
    display: none;
}

.imagen-ordenador{
    display: block;
}

.contenido-lider{
    position: absolute;
    right: 0;
    bottom: 100px;
    width: 50%;
    text-align: left;
    padding-top: 60px;
    padding-left: 60px;
    background-color: var(--white);
}

.contenido-lider h2{
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 300;
}

.contenido-lider p{
    color: var(--grey-200);
    line-height: 1.6; /* Esto es para la altura de la linea */
}